// =============================================================================
// lab
// =============================================================================

.lab {
  body {
    background-color: #FFFF63;
  }
}

.lab-container {
  padding: 0 25px 25px 25px;
}
.lab-grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

.lab-title {
  font-size: 130px;
  margin-top: 0;
}

.lab-item-a {
  grid-column-start: 1;
  grid-column-end: 5;
}

.lab-item-b {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.lab-item-c {
  grid-column-start: 1;
  grid-column-end: span 4;
  border: 1px solid #000;
}

.lab-item-d {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.lab-item-e {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.lab-item-f {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.lab-item-g {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.lab-item-h {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.lab-item-i {
  grid-column-start: 1;
  grid-column-end: span 4;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.lab-item-j {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.lab-border-interrupt {
  background-color: #FFFF63;
}

.lab-playfair {
  font-family: 'Playfair Display', serif;
}

.lab-lora {
  font-family: 'Lora', serif;
}

.lab-f8 {
  font-size: .78rem;
}

.lab-item:hover {
  background-color: #222;
  color: #FFFF63;
  transition: all 0.25s ease;
}

.lab-item {
  transition: all 0.25s ease;
}

@media (min-width: 1011px) {
  .lab-grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px
      127px
      127px
      127px
      127px
      127px
      127px
      127px
      127px
      127px;
    margin: 100px auto;
  }

  .lab-title {
    font-size: 130px;
    margin-top: 0;
  }

  .lab-item-a {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .lab-item-b {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: none;
  }

  .lab-item-c {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border: 1px solid #000;
  }

  .lab-item-d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }

  .lab-item-e {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
  }

  .lab-item-f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    border-left: 1px solid #000;
    border-bottom: none;
    border-right: none;
  }

  .lab-item-g {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 11;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .lab-item-h {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: none;
  }

  .lab-item-i {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: none;
  }

  .lab-item-j {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .mobile-message {
    display: none;
  }
}