---
layout: default
title: Lab
lang: en
ref: lab
---
<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <!-- <img src="{% asset 'about.png' @path %}" alt="About Nielsen Ramon header image" /> -->
  <!-- {% include image.html path="about.png" path-detail="about@2x.png" alt="About Nielsen Ramon header image" %} -->
  <h1>My Lab</h1>
  <ul>
    <li>
      <a href="3D-CSS-Solar-System-master">3D Solar System</a> - Solar System data visualisation done in HTML/CSS and a bit of Javascript by <a href="https://github.com/juliangarnier">juliangarnier</a>.
    </li>
  </ul>
</div>
