---
layout: default
---

<div class="page-content">
  <div class="content{% if page.photo_url %} photo-post{% endif %}">
    <div class="container">
      {% unless page.title_hidden %}
        <h1>
          {% if page.bias %}
            {{ page.bias }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ page.date | date: "%b %d, %Y" }}
        </info>
      {% endunless %}
      <!-- <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div> -->
      <div class="post-body">
        {{ content }}
      </div>
      {% for post in site.posts %}
        {% if post.lang == page.lang %}
          {% if prev %}
            <a href="{{ post.url }}">Previous</a>
          {% endif %}
          {% assign prev = false %}
          {% if post.id == page.id %}
            {% assign prev = true %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for post in site.posts reversed %}
        {% if post.lang == page.lang %}
          {% if next %}
            <a href="{{ post.url }}">Next</a>
            {% break %}
          {% endif %}
          {% assign next = false %}
          {% if post.id == page.id %}
            {% assign next = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
