// Page
// =============================================================================

.page-header {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 30px;
  // border-bottom: 1px solid $base-border-color;
  p {
    display: block;
    margin: 12px 0 10px;
    font-size: $base-font-size;
    color: $article-header-description-color;
  }
  a {
    text-decoration: none;
  }
}